* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  max-width: 100vw;
}

.thumbnails img {
  height: 100px;
}

/* .thumbnails img:hover {
  animation: thumb-reg-in 200ms ease-in;
  animation-fill-mode: forwards;
}

.thumbnails img:not(:hover) {
  animation: thumb-reg-out 200ms ease-in;
  animation-fill-mode: forwards;
}

@keyframes thumb-reg-in {
  from {
    height: 100px;
  }
  to {
    height: 115px;
  }
}

@keyframes thumb-reg-out {
  from {
    height: 115px;
  }
  to {
    height: 100px;
  }
} */

.displayed {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  overflow: visible scroll;
}

.thumb-position {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
}

.thumbnails {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 0.5rem;
  left: 10%;
  background-color: #a9a9a998;
}

button {
  width: 100px;
  height: 30px;
  font-family: monospace;
  background-color: black;
  color: white;
  font-weight: 500;
  border: none;
}

@media (max-width: 1032px) {
  .thumbnails img {
    height: 60px;
  }
}

@media (max-width: 746px) {
  .thumbnails img {
    height: 40px;
  }
}

@media (max-width: 600px) {
  .thumbnails img {
    height: 25px;
  }
}
